/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/06/2017, 16:43:55
    Author     : Aluno
*/

.col1{background: black; padding:2%; width: 100%}
.col2{background: #43B546; padding:0%; width: 100%}
.col3{background: #DCDCDC; padding:2%}
.col4{background: #DCDCDC; padding:7.2%}


.produto{
    width:100%;
}

	
#cabc  {
    padding:0%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#cabc { display: inline; }

#cabc  {
    padding: 1.5% 4%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#cabc :hover {
    background-color:black;
    color: white;
}



	
#cabc  {
	width:100%;
    padding:0%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#cabc  { display: inline; }

#cabc  {
    padding: 0% 10%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#cabc :hover {
    background-color:black;
    color: white;
}


	
#cabc {
	width:40%;
    padding:2%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#cabc  {
    padding: 1.5% 4%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#cabc :hover {
    background-color:black;
    color: white;
}


/*çkljçkç*/

*{font-family: "Verdana", Times, serif;}
@media (min-width:980px){
	body{background:#F8F8FF}
	.bloco1 img{width:100%}
	.telamin img{display: none;}
	
#menu ul {
    padding:0%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 1.5% 4%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#menu ul li a:hover {
    background-color:black;
    color: white;
}

#texto{
	width:80%;
	background-color:#4F4F4F;
	color: white;
	float: left;
}

#link a{
	width: 19%;
	float: right;
	background-color: black;
	padding: 3% 0%;
	color: white;
	margin-bottom: 1%;
	text-align: center;
	text-decoration: none;
}

#link a:hover {
    background-color:white;
    color: black;
	font-weight: bold;
	text-decoration: none;
}
}

@media (max-width:979px) and (min-width:480px){
	body{background:#F8F8FF}
	.bloco1 img{width:100%}
	.telamin img{display: none;}
	
#menu ul {
	width:100%;
    padding:0%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 0% 10%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#menu ul li a:hover {
    background-color:black;
    color: white;
}

#texto{
	width:100%;
	background-color:#4F4F4F;
	color: white;
}

#link a{
	width: 19%;
	float: left;
	background-color: black;
	padding: 1% 4%;
	color: white;
	text-align: center;
	text-decoration: none;
}

#link a:hover {
    background-color:white;
    color: black;
	font-weight: bold;
	text-decoration: none;
}
}

@media (max-width:479px){
	body{background:#F8F8FF}
	.bloco1 img{display: none;}
	.telamin {display:block; width:20%}
	.telamin ul{display:none; position:absolute; }
	.telamin:hover ul{display:block }
	.telamin img{width:80%}
	
#menu ul {
	width:40%;
    padding:2%;
    margin:0%;
    background-color:#4F4F4F;
    list-style:none;
}

#menu ul li a {
    padding: 1.5% 4%;
    display: inline-block;
    background-color:#4F4F4F;
    color: white;
    text-decoration: none;
	
}

#menu ul li a:hover {
    background-color:black;
    color: white;
}

#texto{
	width:100%;
	background-color:#4F4F4F;
	color: white;
}

#link a{
	width: 19%;
	float: left;
	background-color: black;
	padding: 1% 10%;
	color: white;
	text-align: center;
	text-decoration: none;
}

#link a:hover {
    background-color:white;
    color: black;
	font-weight: bold;
	text-decoration: none;
}
}




